   <style type="text/css">
        body {
            background-color: #f7f8fa !important;
            font-family: "Cabin", "Exo", "PT Sans", Arial, sans-serif !important;
            font-weight: 600;
        }
        header {
            background: #c7091d;
            border-bottom: 2px solid #666366;
            text-align: center;
        }
        footer {
            margin-top: 9%;
            background: #c7091d;
            color: #f2f2f2;
            border-top: 2px solid #666366;
            text-align: center;
            padding-bottom: 3px;
        }
        header h1 {
            padding: .4em 0 .1em;
            margin: 0 3em;
        }
        #heading, h2 {
            font-family: "Cabin", "Exo", "PT Sans", Arial, sans-serif !important;
            color: #333;
            font-weight: 600;
            margin: 5%;
        }
        #heading {
            margin-top: 4%;
            margin-right: 10%;
            margin-bottom: -30px; 
            margin-left: 16%;
            color: #c7091d;
            font-weight: 600;
            font-size: 1.33em;            
        }
        #venues ul {

            list-style-type: none;
            display: inline-block !important;
            margin-top: 2%;
            padding: 10px;
            margin-left: 2%;
            margin-bottom: 2%;
                    
        }
        #canvas {
            width: 100%;
            height: 80%;
            margin-top: 0%;
            margin-right: 0%;
            margin-bottom: 0%;
            margin-left: 0%;
        }
        #counter {
            margin-top: 10%;
            margin-bottom: 0;
            text-align: center;
        }
        .end {
            font-size: 1.5em;
            color: #ff0000;
        }
        #venues {
            display: none;
        }
        #buttonDiv {
            margin: 10px, 10px, 20px, 10px;
        }

    </style>
